.card-remove{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgb(50, 50, 50);
    margin-top: 10%;
    margin-bottom: 15%;

}

.form-remove{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35%;
    padding: 1em;
    border-top: solid 2px #ff7c31;
}