.div-login-social{
    height: 2em;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
    margin: 2% 10% 2% 10%;
    display: flex;
    justify-content: center;
    
}

.div-login-social:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    cursor: pointer;
}

.login-social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-social-icon{
    height: 70%;
    padding-right: 0.7em;
}

.span-login{
    display: flex;
    font-size: 0.9em;
    justify-content: center;
    margin: 2%;
}